<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>

    {% load static %}

    <!-- Icons CSS -->
    <link rel="stylesheet" href="{% static 'icons/css/line-awesome.min.css' %}">

    <!-- Other CSS -->
    {% block css %}
    {% endblock css %}
</head>
<body>
    <div class="container">
        <h1> <span class="text-focus">BloG</span> </h1>

        {% block form-content %}

        {% endblock form-content %}

    </div>

    <!-- Scripts -->
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>