<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form method="post">
        {% csrf_token %}
        {{form}}

        <button type="submit">subir</button>
    </form>
    
    <ul class="messagelist">
        {% for message in messages %}
            <li>{{ message.message }}</li>
        {% endfor %}
    </ul>

    {% for post in posts %}
    <div style="border: black solid;">
        <h1> {{post.title}} </h1>
        <h1> {{post.author}} </h1>
        <h1> {{post.content|truncatechars:35}} </h1>
        <a href={% url 'core:blog:detail_post' post.title_slug %}>ir al post</a>
    </div>
    {% endfor %}

</body>
</html>