<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <p>Are you sure you want to delete <b>{{post.title}}</b>?</p>
        <p>This cannot be undone!</p>
        <button type="submit">confirmar</button>
    </form>
    <ul class="messagelist">
        {% for message in messages %}
            <li>{{ message.message }}</li>
        {% endfor %}
    </ul>
</body>
</html>