{% extends "base/base.html" %}

<!-- TITLE OF THE PAGE -->
{% block title %} Post: {{post.title}} {% endblock title %}
 
{% block css %}

    {% load static %}   <!-- LOADS THE PROPER CSS -->
    <link rel="stylesheet" href="{% static 'css/blog.min.css' %}"/>

{% endblock css %}

<!--
    * THE MAIN CONTAINER TO LAYOUT THE PAGE
-->
{% block container %}

    <!--
    * CALLS THE NAVBAR FROM THE BASE.HTML
    -->
    {% block navbar %}
        {{ block.super }}
    {% endblock navbar %}

    <!--
    * HERE IS THE CONTENT OF THE HOME PAGE
    * ALL NEED TO BE INSIDE .CONTENT DIV FOR CORRECT FIT 
    -->
    <div class="content">
        <ul class="messagelist">
            {% for message in messages %}
                <li>{{ message.message }}</li>
            {% endfor %}
        </ul>

        <div class="posts">

            <div class="recent-posts">
                
                {% block posts %}
                    {{ block.super }} 
                {% endblock posts %}

                <form method="POST">
                    {% csrf_token %}
                    <p>Are you sure you want to delete <b>{{post.title}}</b>?</p>
                    <p>This cannot be undone!</p>
                    <button class="button danger-button" type="submit"> Confirmar </button>
                </form>
            </div>
        </div>

    </div>

{% endblock container %}

<ul class="messagelist">
    {% for message in messages %}
        <li>{{ message.message }}</li>
    {% endfor %}
</ul>