/*
* @Authors 
* LZJorge
*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, a, p, i, input {
  color: #252525;
}

h1 {
  font-weight: 900;
}

a {
  font-weight: 800;
  text-decoration: none;
  position: relative;
}
a::before, a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0;
  height: 2px;
  transition: all 0.3s;
  background-color: #252525;
}
a::before {
  left: 50%;
}
a::after {
  right: 50%;
}
a:hover::before, a:hover::after {
  width: 60%;
}

body {
  overflow: hidden;
  height: 100vh;
  background-image: url(/static/img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  height: 90vh;
  border-radius: 12px;
  padding: 35px;
  background-color: #fff;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.text-focus {
  color: #5e9494;
}

.cols-2 {
  grid-column: span 2;
}

@media (max-width: 769px) {
  .container {
    width: 65vw;
    right: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 526px) {
  .container {
    width: 85vw;
  }
  input[type=text],
input[type=password],
input[type=submit] {
    width: 100%;
  }
}
.container {
  width: 60vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.container div.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(3, 70px);
  row-gap: 15px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
form input {
  display: block;
  width: 100%;
}

input {
  width: 290px;
  height: 40px;
  font-size: 1rem;
  outline: none;
  border: none;
}
input:focus {
  box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
}

input[type=text],
input[type=password],
input[type=email] {
  border-bottom: 2px solid rgba(21, 156, 228, 0.4);
  padding: 0 10px 0 40px;
  background-color: rgb(235, 235, 255);
  transition: all 0.3s;
  margin-bottom: 8px;
  position: relative;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
  border: none;
  box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
}

input[type=checkbox] {
  height: 1.1rem;
  width: 1.1rem;
}

input[type=submit],
.buttonSubmit {
  width: 260px;
  height: 40px;
  border-radius: 32px;
  background-color: #5e9494;
  outline: none;
  border: none;
  color: #fff;
  height: 3rem;
  margin: 30px;
  font-size: 1.1rem;
  transition: all 0.3s;
  cursor: pointer;
}
input[type=submit]:hover,
.buttonSubmit:hover {
  background-color: #4d8383;
}
input[type=submit]:active,
.buttonSubmit:active {
  background-color: #3c6868;
}

label {
  font-size: 0.9rem;
}

.control {
  position: relative;
}
.control i {
  font-size: 20px;
  position: absolute;
  left: 0px;
  bottom: 10px;
  padding: 10px;
}

.check-control {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.check-control label {
  font-size: 1rem;
  margin-left: 10px;
}

.submit {
  width: 60%;
  height: 50px;
  outline: none;
  border: none;
}
.submit:focus {
  outline: none;
  box-shadow: 0 0 0 5px rgba(21, 156, 228, 0.4);
}/*# sourceMappingURL=register.css.map */