{% extends 'users/base/base.html' %}

{% block title %} Login {% endblock title %}

{% block css %}

    {% load static %}

    <!-- Personal CSS -->
    <link rel="stylesheet" href="{% static 'css/login/login.css' %}">

{% endblock css %}

{% block form-content %}

<div class="form">
    <form method="POST"> {% csrf_token %}
        <h1 class="main-title">Blo<span class="text-focus">G</span> <i class="bx bx-tada bxs-ghost text-focus"></i></h1>
        <p class="title"> Iniciar sesión </p>

        {% for form_field in form %}
            <div class="input-group">
                <span>
                    <i class="bx bxs-{{ form_field.field.icon }}"></i>
                </span>
                {{ form_field }}
                {{ form_field.label }}
            </div>  
        {% endfor %}

        <button class="loader"> Ingresar </button>
        <a class="link" href="#">¿Olvidó su contraseña?</a>
        <p class="text">¿No tienes una cuenta?</p>
        <a href="/register" class="buttonShadow"> Registrarse </a>
    </form>
</div>

{% endblock form-content %}