<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}

    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'icons/css/boxicons.min.css' %}">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'scss/profile/profile.css' %}">
    
    <title> Perfil </title>
</head>
<body>
    
    <div class="container">
        
        <!--
            * NAVBAR
        -->
        <nav>
            <div class="nav-logo">
                <h1 class="main-title">Blo<span class="text-focus">G</span> <i class="bx bx-tada-hover bxs-ghost text-focus"></i></h1>
            
                <button> <i class="bx bx-menu"></i> </button>
            </div>

            <ul class="nav-links">
                <h4> Menu </h4>

                <li>
                    <a href="#"> Inicio </a>
                    <i class="bx bxs-dashboard"></i>
                </li>

                <li>
                    <a href="#"> Perfil </a>
                    <i class="bx bxs-user-circle"></i>
                </li>

                <li>
                    <a href="#"> Ajustes </a>
                    <i class="bx bxs-cog"></i>
                </li>
            </ul>

        </nav>

        <!--
            * PROFILE CONTENT
        -->
        <div class="content">

            <div class="content-profile">
                <div>
                    <img src="{% static 'img/user.svg' %}" alt="USER_IMAGE" class="profile-img">
                </div>

                <div class="profile-info">
                    <h1> <span class="text-focus">@</span>Landaeta</h1>
                    <h4> Jorge Landaeta </h4>

                    <i class="bx bxs-quote-left"></i>

                    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque iste ex voluptates nam vitae. </p>
                </div>
            </div>

            <div class="profile-badges">
                <div class="badge blue">
                    Admin
                </div>
                <div class="badge green">
                    Desarrollador
                </div>
                <div class="badge gold">
                    Fundador
                </div>   
            </div>

            <div class="profile-stats">
                <div> <h3>Publicaciones</h3> <h2>3</h2> </div>
                <div> <h3>Siguiendo</h3> <h2>24</h2> </div>
                <div> <h3>Seguidores</h3> <h2>54</h2> </div>
            </div>

            <!--
                * POSTS
            -->
            <div class="posts">

                <h2> Recent Posts </h2>
                <div class="separator"></div>

                <div class="recent-posts">

                    <div class="card">
                        <div class="name">
                            <div>
                               <strong>@Landaeta25</strong>
                               <span class="badge blue">Admin</span>
                            </div>
                            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ab repellat ducimus incidunt ad nesciunt dolor odit similique? Ullam, sapiente. Perspiciatis in exercitationem quae facere aspernatur velit recusandae!</span>
                        </div>
                        <div class="call-to-action">
                            <div>
                                <i class='bx bxs-user-detail'></i>
                                <span>Perfil</span>
                            </div>
                            <div>
                                <i class='bx bxs-like'></i>
                                <span>41</span>
                            </div>

                            <div>
                                <i class='bx bxs-dislike'></i>
                                <span>7</span>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="name">
                            <div>
                               <strong>@Landaeta25</strong>
                               <span class="admin-badge">Admin</span>
                            </div>
                            <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus minima eaque omnis sapiente animi inventore ut incidunt repellat pariatur, commodi eum earum ex hic aperiam? Assumenda, dolores accusantium? Voluptatem, incidunt soluta.</span>
                            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet molestiae aspernatur praesentium quis laudantium, numquam consequuntur repellendus eos exercitationem est quisquam rem modi.</span>
                        </div>
                        <div class="call-to-action">
                            <div>
                                <i class='bx bxs-user-detail'></i>
                                <span>Perfil</span>
                            </div>
                            <div>
                                <i class='bx bxs-like'></i>
                                <span>35</span>
                            </div>

                            <div>
                                <i class='bx bxs-dislike'></i>
                                <span>2</span>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="name">
                            <div>
                               <strong>@Landaeta25</strong>
                               <span class="admin-badge">Admin</span>
                            </div>
                            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa non quis porro temporibus ab minus laborum, at voluptatum?</span>
                        </div>
                        <div class="call-to-action">
                            <div>
                                <i class='bx bxs-user-detail'></i>
                                <span>Perfil</span>
                            </div>
                            <div>
                                <i class='bx bxs-like'></i>
                                <span>22</span>
                            </div>

                            <div>
                                <i class='bx bxs-dislike'></i>
                                <span>1</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        
    </div>
          
</body>
</html>