<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    Siguiendo:
    {% for x in user.following.all %}
        {{x.following_user_id}}
    {% endfor %}
        
    Seguidores:
    {% for x in user.followers.all %}
        {{x.user_id}}
    {% endfor %}

    Bio: {{user.bio}}

    Username : {{user.user.username}}

    Posts:
    {% for x in user.blog_posts.all %}
        {{x.slug}}
    {% endfor %}
          
</body>
</html>