{% extends 'users/base/base.html' %}

{% block title %} Register {% endblock title %}

{% block css %}

    {% load static %}

    <!-- Personal CSS -->
    <link rel="stylesheet" href="{% static 'css/login/register.css' %}">

{% endblock css %}

{% block form-content %}

<div class="form">
    <form method="POST"> {% csrf_token %}
        <h1 class="main-title">Blo<span class="text-focus">G</span> <i class="bx bx-tada bxs-ghost text-focus"></i></h1>

        <p class="title"> Registrar una cuenta </p>

        <div class="grid">
            {% for form_field in form %}
                <div class="input-group">
                    <span>
                        <i class="bx bxs-{{ form_field.field.icon }}"></i>
                    </span>
                    {{ form_field }}
                </div>  
            {% endfor %}
        </div>

        <button class="loader"> Registrar </button>
        <p class="text">¿Ya tienes un cuenta?</p>
        <a href="/login" class="buttonShadow"> Loguearse </a>
    </form>
</div>

{% endblock form-content %}