<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>

    {% load static %}

    <!-- Icons CSS -->
    <link rel="stylesheet" href="{% static 'icons/css/boxicons.min.css' %}">

    {% block css %}

    {% endblock css %}

</head>
<body class="login-bg">

    <div class="login-container">
    
        {% block form-content %}

            {% block form-errors %}
                <!-- 
                    * ERRORS 
                -->
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endblock form-errors %}

        {% endblock form-content %}

    </div>

</body>
</html>