<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>

    {% load static %}

    <!-- Icons CSS -->
    <link rel="stylesheet" href="{% static 'icons/css/boxicons.min.css' %}">

    {% block css %}

    {% endblock css %}

</head>
<body class="login-bg">

    <div class="login-container">
    
        {% block form-content %}
        {% endblock form-content %}

    </div>

</body>
</html>