@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, a, p, i, input {
    color: $black;
}

h1 {
    font-weight: 900;
}

a {
    font-weight: 800;
    text-decoration: none;
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        width: 0;
        height: 2px;
        transition: all .3s;
        background-color: $black;
    }
    &::before { left: 50%; }
    &::after { right: 50%; }

    &:hover::before, 
    &:hover::after {
        width: 60%;
    }
}

body {
    overflow: hidden;
    height: 100vh;

    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    height: 90vh;
    border-radius: 12px;
    padding: 35px;

    background-color: $white;
    box-shadow: $box-shadow;
}

.text-focus {
    color: $main;
}

.cols-2 {
    grid-column: span 2;
}

@media (max-width: 769px) {
    .container {
        width: 65vw;
        right: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 526px) {
    .container {
        width: 85vw;
    }

    input[type="text"],
    input[type="password"],
    input[type="submit"] {
        width: 100%;
    }
}