{% extends 'base/base.html' %}

{% block title %} Perfil {% endblock title %}
    
{% block css %}

    {% load static %}

    <!-- Personal CSS -->
    <link rel="stylesheet" href="{% static 'css/blog.min.css' %}">

{% endblock css %}
    
{% block container %}   

    {% block navbar %}
        {{ block.super }}
    {% endblock navbar %}
    
    <div class="content">
        
        {% block form-errors %}
            {{ block.super }}
        {% endblock form-errors %}

        <form method="post">{% csrf_token %}
        
            <div class="change-password">
                <h2> Actualizar contraseña </h2>

                {% for form_field in form %}
                    <div class="input-group">
                        <span>
                            <i class="bx bxs-lock"></i>
                        </span>

                        {{form_field}}
                    </div>
                {% endfor %}
            
                <button class="button main-button" type="submit">Actualizar</button>
            </div>


        </form>
    </div>

{% endblock container %}    

{% block script %}
{% endblock script %}