{% extends 'base/login-base.html' %}

{% block title %} Iniciar Sesión {% endblock title %}

{% block css %}

    {% load static %}

    <!-- Personal CSS -->
    <link rel="stylesheet" href="{% static 'css/login.min.css' %}">

{% endblock css %}

{% block form-content %}

    <div class="form">
        <form method="POST"> {% csrf_token %}
            <h1 class="main-title">Blo<span class="text-focus">G</span> <i class="bx bx-tada bxs-ghost text-focus"></i></h1>
            <p class="title"> Iniciar sesión </p>

            {% for form_field in form %}
                <div class="input-group">
                    <span>
                        <i class="bx bxs-{{ form_field.field.icon }}"></i>
                    </span>
                    {{ form_field }}
                    {{ form_field.label }}
                </div>  
            {% endfor %}
    
            <button class="button main-button"> Ingresar </button>
            <a class="link" href="{% url 'core:users:password_recovery' %}">¿Olvidó su contraseña?</a>

            <p class="text">¿No tienes una cuenta?</p>
            <a href="{% url 'core:users:user_register' %}" class="buttonShadow"> Registrarse </a>
            
            <ul class="messagelist">
                {% for message in messages %}
                    <li>{{ message.message }}</li>
                {% endfor %}
            </ul>

            {% block form-errors %}
                {{ block.super }}
            {% endblock form-errors %}
        </form>
    </div>

{% endblock form-content %}