{% extends 'base/login-base.html' %}

{% block title %} Iniciar Sesión {% endblock title %}

{% block css %}

    {% load static %}

    <!-- Personal CSS -->
    <link rel="stylesheet" href="{% static 'css/login.min.css' %}">

{% endblock css %}

{% block form-content %}

    <div class="form">
        <form method="post"> 
            {% csrf_token %}
            
            <h1 class="main-title">Blo<span class="text-focus">G</span> <i class="bx bx-tada bxs-ghost text-focus"></i></h1>
            <p class="title"> Se ha enviado un correo de recuperación a tu dirección de correo electrónico.</p>
            <p class="title"> Desde allí podrás continuar con el proceso de recuperación.</p>

            <p class="text">Volver a la pagina de iniciar sesión</p>
            <a href="{% url 'core:users:user_login' %}" class="buttonShadow"> Loguearse </a>

        </form>
    </div>

{% endblock form-content %}