{% extends 'base/login-base.html' %}

{% block title %} Iniciar Sesión {% endblock title %}

{% block css %}

    {% load static %}

    <!-- Personal CSS -->
    <link rel="stylesheet" href="{% static 'css/login.min.css' %}">

{% endblock css %}

{% block form-content %}

    <div class="form">
        <form method="post"> 
            {% csrf_token %}
            
            <h1 class="main-title">Blo<span class="text-focus">G</span> <i class="bx bx-tada bxs-ghost text-focus"></i></h1>
            <p class="title"> Recuperar mi contraseña</p>

            <div class="input-group">
                <span>
                    <i class="bx bx-at"></i>
                </span>
    
                {{form.email}}
            </div>
    
            <button class="button main-button" type="submit">Enviar</button>

            <p class="text">¿Ya tienes un cuenta?</p>
            <a href="{% url 'core:users:user_login' %}" class="buttonShadow"> Loguearse </a>

            {% block form-errors %}
                {{ block.super }}
            {% endblock form-errors %}
        </form>
    </div>

{% endblock form-content %}

    