{% extends 'base/login-base.html' %}

{% block title %} Registrarse {% endblock title %}

{% block css %}

    {% load static %}

    <!-- Personal CSS -->
    <link rel="stylesheet" href="{% static 'css/register.min.css' %}">

{% endblock css %}

{% block form-content %}

    <ul class="messagelist">
        {% for message in messages %}
            <li>{{ message.message }}</li>
        {% endfor %}
    </ul>

    <div class="form">
        <form method="post">
            {% csrf_token %}

            <h1 class="main-title">Blo<span class="text-focus">G</span> <i class="bx bx-tada bxs-ghost text-focus"></i></h1>

            <p class="title"> Registrar una cuenta </p>

            <div class="grid">
                {% for form_field in form %}
                    <div class="input-group">
                        <span>
                            <i class="bx bxs-{{ form_field.field.icon }}"></i>
                        </span>

                        
                        {{ form_field }}
                        
                    </div>  
                {% endfor %}
            </div>

            <button class="button main-button"> Registrar </button>
            <p class="text">¿Ya tienes un cuenta?</p>
            <a href="{% url 'core:users:user_login' %}" class="buttonShadow"> Loguearse </a>

            {% block form-errors %}
                {{ block.super }}
            {% endblock form-errors %}
        </form>
    </div>

{% endblock form-content %}