.profile-badges {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.badge {
    padding: 5px 12px;
    border-radius: 50em;
    font-size: .9em;
    position: relative;
    background-color: rgb(var(--badge-color-rgb), .2);
    color: rgb(var(--badge-color-rgb));
}

.badge.red {
    --badge-color-rgb: 164, 22, 26;
}
.badge.gold {
    --badge-color-rgb: 164, 126, 27;
}
.badge.green {
    --badge-color-rgb: 73, 160, 120;
}
.badge.blue {
    --badge-color-rgb: 10, 36, 99;
}