.messagelist {
    width: 100%;
    margin: 0 auto 20px;

    li {
        padding: 5px 0;
        width: 100%;
        background-color: rgb(92, 255, 92);
        list-style: none;
        text-align: center;
        border-radius: 2px;
    }
}

.alert {
    width: 86%;
    margin: auto;
    height: 32px;
    border-radius: 6px;
    position: fixed;
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    * {
        font-size: 14px;
        font-weight: 500;
    }
}

.alert-danger {
    background-color: rgb(255, 58, 58);
}