.form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    h1 {
        font-weight: 700;
    }

    .title {
        color: rgb(30, 30, 30);
        font-size: 18px;
        font-weight: bold;
        margin: 10px auto 20px;
        text-align: center;

        .bx-x-circle {
            font-size: 32px;
        }
    }

    .buttonShadow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        width: 90%;
        margin: 10px auto;
        height: 50px;
        
        text-decoration: none;
        background-color: #fff;
        color: rgb(87, 87, 87);
        border: 1px solid rgb(50, 50, 50, .1);

        &:hover {
            background-color: rgb(50, 50, 50, .2);
        }
    }

    .link {
        text-decoration: none;
        color: rgb(160, 160, 160);
        font-size: 14px;
    }

    .text {
        font-size: 15px;
        margin: 20px auto 0;
        color: rgb(20, 20, 20);
    }
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;

    input[type="text"],
    input[type="password"],
    input[type="email"] {
        width: 240px;
    }
}

.form > form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0, .1);
}

@media only screen and (max-width: 830px) {

    .login > form {
        border-radius: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        overflow: auto;
        box-shadow: none;
    }

}