// Variables
$main: #577EDB;
$main-hover: #3A6DD8;
$main-active: rgb(37, 71, 145);

$secondary: #FBAB7E;
$secondary-hover: #e2976c;
$secondary-active: #ee9968;

$danger: rgb(214, 25, 25);

$black: #333;
$white: #fff;
$text-gray: #f6f6f6;

$li-gray: rgb(224, 224, 224);