{% extends 'base/base.html' %}

{% block title %} Perfil {% endblock title %}
    
{% block css %}

    {% load static %}

    <!-- Personal CSS -->
    <link rel="stylesheet" href="{% static 'css/profile.min.css' %}">

{% endblock css %}
    
{% block container %}   

    {% block navbar %}
        {{ block.super }}
    {% endblock navbar %}

    <!--
        * PROFILE CONTENT
    -->
    <div class="content">

        <div class="content-profile">
            <div>
                <img src="{% static 'img/user.svg' %}" alt="USER_IMAGE" class="profile-img">
            </div>

            <div class="profile-info">
                <h1> <span class="text-focus">@</span>{{user.username}} </h1>
                <h4> {{user.first_name}} {{user.last_name}} </h4>

                <i class="bx bxs-quote-left"></i>

                <p> {{user.bio}} </p>
            </div>
        </div>

        <div class="profile-badges">
            <div class="badge blue">
                Admin
            </div>
            <div class="badge green">
                Desarrollador
            </div>
            <div class="badge gold">
                Fundador
            </div>   
        </div>

        <div class="profile-stats">
            <div> 
                <h3>Publicaciones</h3> 
                <h2>{{ user.blog_posts.all.count }}</h2> 
            </div>

            <div> 
                <h3>Siguiendo</h3>  
                <h2>{{ user.following.count }}</h2> 
            </div>

            <div> 
                <h3>Seguidores</h3> 
                <h2>{{ user.followers.count }}</h2> 
            </div>
        </div>

        <!--
            * POSTS
        -->
        <div class="posts">

            <h2> Publicaciones recientes </h2>
            <div class="separator"></div>

            <div class="recent-posts">
    
                {% block posts %}
                    {% for post in user.blog_posts.all %}

                        {{ block.super }}                     
                    
                    {% endfor %}
                {% endblock posts %}
            
            </div>

        </div> <!-- End Recent Posts -->    
        
    </div> <!-- End content section -->

{% endblock container %}    


{% block script %}

{% endblock script %}

<!--
    <h3> Id: {{ user.id }} </h3>
    <h3> username: {{ user.username }} </h3>
    <h3> first name: {{ user.first_name }} </h3>
    <h3> last name: {{ user.last_name }} </h3>
    <h3> email: {{ user.email }} </h3>
    <h3> bio: {{ user.bio }} </h3>
    <h3> last login: {{ user.last_login }} </h3>
    <h3> date joined: {{ user.date_joined }} </h3>
    <h3> followers: {{ user.followers.all }} </h3>
    <h3> following: {{ user.following.all }} </h3>
-->