$white: #fff;
$black: #252525;

$main: #5e9494;
$main-hover: #4d8383;
$main-active: #3c6868;

$secondary: #f9d9c3;
$secondary-hover: #d8bba1;
$secondary-active: #b5a9ad;

$danger: rgb(252, 87, 87);

$box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;