input[type="checkbox"] {
    margin: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"]  {
    width: 300px;
    border-radius: 4px;
    margin: 10px auto;
    padding: 11px 10px 11px 40px;
    background-color: rgb(238, 238, 238);
    outline: none;
    border: 1px solid rgb(0, 0, 0, 0);
    font-size: 15px;
    color: rgb(30, 30, 30);
    transition: .3s;

    &::placeholder {
        color: rgb(77, 77, 77);
    }

    &:hover {
        background-color: #F1EFF1;
    }

    &:focus {
        background-color: #fff;
        border: 1px solid rgb(87, 126, 219);
        box-shadow: 0 0 4px 2px rgb(50, 50, 50, .1);
    }

    &:valid {
        border: 1px solid rgb(220, 220, 220);
    }
}